<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DSCoreGraphics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>13B743151C7AA6C000BC6B7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13B7432E1C7AA6C000BC6B7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13B743391C7AA6C000BC6B7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
